/*工具栏S*/
.bbs-tools {
    height: 30px;
    background-color: #323232;
}
.bbs-tools .logo {
    width: 58px;
    height: 18px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 5px;
    float: left;
}
.bbs-tools .select-item {
    float: left;

}
.bbs-tools .select-item li {
    font: 900 14px/30px "黑体";
    float: left;
    margin-left: 30px;
}
.bbs-tools li a{
    color: #C0C0C0;
}
.bbs-tools li a:hover {
    color: #22B041;
}
.bbs-tools .logo-in{
    float: right;
}
.bbs-tools .logo-in{
    margin-right: 30px;
}
.bbs-tools .logo-in li{
    color: #C0C0C0;
    font: 900 14px/30px "黑体";
    margin-right: 15px;
    float: right;
    line-height: 30px;
}

/*工具栏E*/

/*LOGOs*/
.bbs-LOGO-box{
    background-color: #F4F3F2;
}
.bbs-LOGO{
    height: 100px;
    font-family: "微软雅黑";
    clear: both;
    position: relative;
}
.bbs-LOGO .bbs-name{
    float: left;
    line-height: 100px;
    color: #147850;
    font-size: 36px;
}

.bbs-LOGO .desc{
    font-size: 18px;
    color: #3f9f5f;
    float: left;
    padding-top: 46px;
}

.bbs-LOGO .btn1{
    height: 40px;
    background-color: #1C95DD;
    float: right;
    line-height: 40px;
    padding:  0 25px;
    border-radius: 4px;
    color: white;
    font-family: "微软雅黑";
    margin-top: 30px;
    cursor: pointer;
}
.bbs-LOGO .btn2{
    height: 40px;
    float: right;
    line-height: 40px;
    padding: 0 25px;
    border-radius: 4px;
    color: #3F9F5F;
    font-family: "微软雅黑";
    border: 1px solid  #3F9F5F;
    margin-right: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.bbs-LOGO .btn2 .select-item{
    padding-top: 10px;
    position: absolute;
    background-color:#F4F3F2;
    right: 134px;
    z-index: 2;
    top: 72px;
    border-radius: 15px;
    width: 130px;
    text-align: center;
    opacity: 0.9;
    display: none;
}

.bbs-LOGO .select-item a{
    color: #007345;
}

.bbs-LOGO .select-item li a{
    /*opacity: 0.8;*/
    border-radius: 5px;
    padding: 8px;
}
    /*LOGOe*/

/*bannerS*/
.banner{
    height: 400px;
    /*background-color: #518b5e;*/
    background-image:url("../BBS-imgs/sbg1.jpg");
    background-size:cover;
    position: relative;
}

.banner .right .info img{
    width: 180px;
    height: 50px;
}
.banner .center{
    height: 400px;
    /*background-color: aquamarine;*/
}
.banner .center .right{
    height: 400px;
    width: 300px;
    float: right;
    position: relative;
}
.banner .center .right .banner-head-pic{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 3px solid white;
    position: absolute;
    left: -50px;
    top: 5px;
}
.banner .center .right .title{
    margin-top: 150px;
    margin-right: 5px;
    float: right;
    width: 270px;
    color: white;
    font-family: "微软雅黑";
    font-size: 19px;
    /*font-weight: 900;*/
}

.banner .center .right .select-pic {
    margin-top: 50px;
    margin-left: 10px;
    float: left;
    position: relative;
}

.banner .center .right .select-pic img{
    display: inline-block;
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 6px;
    border-width: 1px ;
}
.banner .center .right .select-pic i{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url("../BBS-imgs/indexs.png") no-repeat 0 -4px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: none;
}

/*bannerE*/
.banner .center .right .select-pic .select-current{
    border:3px solid white;
    width: 44px;
    height: 44px;
}

/*conS*/
.con{
    /*height: 1000px;*/
    margin-top: 40px;
}
.con .left{
    float: left;
    width: 680px;
}
.con .left .title{
    height: 36px;
    /*background-color: salmon;*/
    color: #147850;
    font-family: "微软雅黑";
    font-size: 18px;
    line-height: 36px;
    width: 220px;
    text-align: center;
    border-bottom: 2px solid #147850;
    float: left;
}

.con .left .comment{
    width: 650px;
    height: 220px;
    margin-top: 15px;
    float: right;
    border-left: 1px solid  #959595;
    position: relative;
}
.con .left .comment .hear-pic{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: slateblue;
    border-radius: 50px;
    left: -25px;
}
.con .left .comment .top{
    height: 20px;
    /*background-color: black;*/
    margin-left: 35px;
    color: #959595;
    margin-top: 20px;
    font-family: "微软雅黑";
    font-size: 12px;
    float: left;
}
.con .left .comment .con{
    width: 390px;
    height: 70px;
    /*background-color: slateblue;*/
    margin-left: 35px;
    overflow: hidden;
    float: left;
}
.con .left .comment .bottom{
    height: 31px;
    width: 390px;
    /*background-color: slateblue;*/
    margin-top: 25px;
    margin-left: 35px;
    font-size: 12px;
    overflow: hidden;
    color: #959595;
    float: left;
}
/*.con .left .comment .box-pics{*/
    /*position: absolute;*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*background-color: red;*/
    /*float: right;*/
/*}*/
.con .left .comment .box-pics .pic{
    width: 161px;
    height: 107px;
    float: right;
    margin-top: 40px;
    margin-right: 45px;
    position: absolute;
}

.con .left .comment .top span{
    padding: 0 10px;
}
.con .left .comment .top .adder{
    text-decoration: underline;
}
.con .left .comment .close{
    float: right;
    margin-right: 45px;
    color: #959595;
    cursor: pointer;
}


/*右侧广告*/
.con .right{
    float: right;
    width: 270px;
    /*background-color: seagreen;*/
    height: 1000px;
}

.con .right .join{
    /*width: 270px;*/
    /*height: 344px;*/
}

.con .right .infos{
    height: 305px;
    /*background-color: seagreen;*/
    padding: 10px 10px;
    border-radius: 15px;
    margin-top: 40px;
    border: 1px solid #959595;
}

.con .right .infos .item{
    height: 273px;
    /*background-color:skyblue;*/
    position: relative;
    top: 15px;
    overflow: hidden;
}

.con .right .infos ul{
    /*margin-top: 15px;*/
    position: absolute;
}

.con .right .infos ul li{
    height: 270px;
    background-color: #f3f3f3;
    /*border: 1px solid #959595;*/
    border-radius: 5px;
    /*margin-top: 10px;*/
    margin-bottom: 20px;
    border-radius: 15px;
}
.con .right .infos ul li .look{
    border: 1px solid #147850;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}
.con .right .infos ul li .time{
    font-size: 15px;
}
.con .right .infos ul li .xinde{
    margin-top: 10px;
    padding: 0 5px;
}
.con .right .infos ul li img{
    width: 249px;
}
.con .right .infos ul li .time{
    margin-top: 10px;
    float: left;
    margin-left: 5px;
}

.con .right .infos ul li .look{
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}

.con .right .info{
    height: 260px;
    background: url("../BBS-imgs/ad001.png");
    overflow: hidden;
    position: relative;
}
.con .right .info .desc{
    /*height: 260px;*/
    margin-left: 25px;
    margin-top: 20px;
    color: white;
}
.con .right .info .btn{
    color:white;
    margin-left: 25px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 17px;
    display: inline-block;
    margin-top: 50px;
    cursor: pointer;
}
.con .right .info .login{
    margin-left: 25px;
    margin-top: 15px;
    color: white;
    font-size: 15px;
    position: relative;
}
.con .right .info .login span{
    margin-top: 5px;
    display: inline-block;
}
.con .right .info .QQ{
    position: absolute;
    top: 20px;
    left: 133px;
    width: 31px;
    height: 30px;
    background: url("../BBS-imgs/indexs.png") -37px -25px;
}
.con .right .info .WB{
    position: absolute;
    top: 20px;
    left: 173px;
    width: 31px;
    height: 30px;
    background: url("../BBS-imgs/indexs.png") -37px -25px;
}
.con .right .info .WX{
    position: absolute;
    top: 20px;
    left: 213px;
    width: 31px;
    height:30px;
    background: url("../BBS-imgs/indexs.png") -37px -25px;
}
.con .right .way{
    height: 85px;
    border: 1px solid #959595;
}
.con .right .way .pic{
    width: 44px;
    height: 44px;
    background: url("../BBS-imgs/indexs.png") 0 -218px;
    margin-left: 25px;
    margin-top: 20px;
    float: left;
}
.con .right .way .desc{
    float: left;
    margin-top: 30px;
    margin-left: 25px;
    color: #959595;
    font-size: 12px;
}
/*conE*/
.con .right .adr{
    height: 380px;
    border-bottom: 1px solid #959595;
    margin-top: 50px;
    height: 385px;
}
.con .right .adr span a{
    float: right;
    color: #147850;
}
.con .right .adr .ad{
    margin-top: 35px;
}
.con .right .users {
    margin-top: 50px;
}
.con .right .users .title{
    
}
.con .right .users .user{
    height: 70px;
    overflow: hidden;
    position: relative;
    border: 1px solid #959595;
    margin-top: 30px;
}
.con .right .users .user .add{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #147850;
}
.con .right .users .user .pic{
    width: 54px;
    height: 54px;
    background-color: violet;
    border-radius: 50px;
    margin-top: 8px;
    margin-left: 5px;
    float: left;
}
.con .right .users .user .user-info{
    margin-top: 8px;
    margin-left: 15px;
    height: 54px;
    float: left;
}
.con .right .users .user .user-info span{
    margin-top: 5px;
    display: inline-block;
}

.body-bottom{
    height: 122px;
    background-color: #323232;
    border-top: 5px solid #25A851;
    text-align: center;
    color: #959595;
    margin-top: 50px;
}
.body-bottom .pro{
    margin-top: 10px;
}

/*返回顶部开始*/
#returnTop{
    width: 32px;
    height: 32px;
    position: fixed;
    left: 1280px;
    top: 500px;
    display: none;
}
/*返回顶部结束*/






























