@charset "UTF-8";
body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd{
    font-size: 12px;
    font-family: "微软雅黑";
    color: #333333;
    margin: 0;
    padding: 0;
    list-style: none;}

i,s{
    text-decoration: none;
    font-style: normal;

}
a{
    text-decoration: none;
    color: #333333;
}
a:hover{
    color: red;
}
input,img,button{
    margin:0;
    padding: 0;
    border: 0 none;
    outline-style: none;
}
.w{
    width: 1210px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clear{
    zoom:1;
}

.logo{
    width: 380px;
    background-color: transparent;
    text-align: center;
    margin-bottom: 40px;
}
.logo_em{
    font-size: 22px;
    font-family:宋体;
    color: white;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    margin-top: -22px;
}
#register{
    width: 380px;
    height:500px;
    background-color:white;
}
.line{
    border: 1px solid lightgray;
}
#phone_register{
    /*height: 30px;*/
    /*line-height: 30px;*/
    padding-top: 17px;

    /*padding-left: 50px;*/
}
#phone_register a{
    font-size: 16px;
    font-weight: 600;
    color: gray;
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    float: left;
}


#phone_register .current{
    border-bottom: 2px solid green;
    cursor: pointer;
    color: green;

}
.long_line{
    /*margin-top: 15px;*/
    padding-left: 23px;
    border: 1px solid gray;
}
.box{
    width: 328px;
    margin: 0 auto;
}
.email_add{
    margin-top: 30px;
    height: 70px;
}
.email_add em{
    float: left;
    height: 30px;

}
.email_add input{
    width: 320px;
    height: 39px;
    border: 1px solid lightgray;
    /*color: #C6C6C6;*/
    font-size: 14px;
    padding-left: 7px;
}
#first_phone{
    height: 39px;
    border: 1px solid lightgray;
    width: 320px;
    font-size: 14px;
    /*margin-left: 10px;*/
    padding-left: 7px;
}
#first{
    height: 39px;
    width: 120px;
    float: left;
    position:relative;
    font-size: 26px;
    color:black;
    border: 1px solid #ccc;
}
#first i{
    height: 7px;
    width: 17px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 17px;
    left: 90px;
}
#first s{
    height: 15px;
    width: 19px;
    display: inline-block;
    position: absolute;
    top: -21px;
    right:0px;
    font-size: 32px;
}
.yanzheng input{
    width: 200px;
    height: 39px;
    border: 1px solid lightgray;
    /*color: #C6C6C6;*/
    font-size: 14px;
    padding-left: 7px;
}
.yanzheng{
    height: 65px;
}
.yanzheng em{
    /*float: left;*/
    display: inline-block;
    height: 30px;
    width: 200px;
    overflow: hidden;

}
.yanzheng .txt{
    background-color:white;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    font-family: Hiragino Sans GB;
    color: white;
    margin-left: 5px;
    font-size: 14px;
}
.send em{
    float: left;
    height: 30px;

}
.send{
    height: 70px;
}
.em{
    float: right;
    color: gray;
    margin-top: 5px;
    margin-right: 10px;
}

.password input{
    width: 320px;
    height: 39px;
    border: 1px solid lightgray;
    /*color: #C6C6C6;*/
    font-size: 14px;
    padding-left: 7px;
}
.password{
    height: 70px;

}
.password em {
    height: 15px;
    float: left;
}
.ensure{
    width: 320px;
    height: 39px;
    background-color: #3F9F5F;
    border-radius: 5px;
    margin-top: 2px;
    font-size: 16px;
    font-family: Hiragino Sans GB;

}
.ensure a{
    color: #ffffff;
}
.has a{
    font-family: Hiragino Sans GB;
    color:#959595;

    font-size: 14px;
}
.has em{
    font-family:微软雅黑;
    color:#959595;
    font-size: 14px;
}
.has span{
    margin-left: 50px;
}
.has i{
    margin-left: 5px;
    color: #ccc;
}
#a{
    color: green;

}
.has{
    margin-top: 13px;
}
.main{
    width: 380px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}
.regi_bottom{
    height: 220px;
    background-color: #363636;
}

.left{
    float: left;
    height: 140px;
    padding-left: 250px;
    margin-top: 30px;

}
dl{
    float: left;
    width: 140px;
    color: white;
}
dd a{
    height: 25px;
    display: inline-block;
    color:#959595;
}
.left dt{
    height: 25px;
    color: #C2C2C2;
}
.right{
    float: left;
    margin-top: 30px;
}
.right span{
    color: #C2C2C2;
}
.a1{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../loginImages/headfoot.png") 0 -1082px no-repeat;
}
.a2{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../loginImages/headfoot.png") -30px -1082px no-repeat;
}
.a3{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../loginImages/headfoot.png") -60px -1082px no-repeat;
}
.a4{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../loginImages/headfoot.png") -30px -1110px no-repeat;
}
.a5{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../loginImages/headfoot.png") -60px -1110px no-repeat;
}
.a6{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../loginImages/headfoot.png") 0 -1110px no-repeat;
}
.tu{
    margin-top: 10px;
    width: 90px;
    height: 90px;
    overflow: hidden;
}
.bot{
    padding-left: 250px;
}
.bot img{
    float: left;
}
.bot p{
    color: #959595;
}
.fix{
    position: fixed;
    top:30%;
    right: 0px;
}
.fix span{
    width: 40px;
    height: 166px;
    display: inline-block;
    background: url("../loginImages/icons_feedback.png") -1px 0 no-repeat;
}
#big .no{
    display: none;
    /*height: 210px;*/
    /*width: 330px;*/

}
#big .current{
    display: block;
}
#register .name1{
    background: url("../loginImages/error.png") left no-repeat;
    font-size: 14px;
    color: red;
    width: 200px;
    line-height: 30px;
    padding-left: 10px;
    font-family:宋体;
}

#code{
    font-family:Arial;
    font-style:italic;
    font-weight:bold;
    border:0;
    font-size:22px;
    letter-spacing:5px;
    color:blue;
}

#code1{
    font-family:Arial;
    font-style:italic;
    font-weight:bold;
    border:0;
    font-size:22px;
    letter-spacing:5px;
    color:blue;
}
#stren{
    position: absolute;
    top:566px;
    left: 699px;
}

.strengthLv0 {
    height: 6px;
    width: 120px;
    border: 1px solid #ccc;
    padding: 2px;
}

.strengthLv1 {
    background: #dc1437;
    height: 6px;
    width: 40px;
    border: 1px solid #ccc;
    padding: 2px;
}

.strengthLv2 {
    background: #e9967a;
    height: 6px;
    width: 80px;
    border: 1px solid #ccc;
    padding: 2px;
}

.strengthLv3 {
    background: #11BF79;
    height: 6px;
    width: 120px;
    border: 1px solid #ccc;
    padding: 2px;
}

#rece{
    width: 250px;
    height: 250px;
    position: absolute;
    top:284px;
    left:510px;
    display: none;
    overflow: hidden;
    border: 1px solid lightgray;
    /*background-color: yellowgreen;*/
}
#rece_left{
    width: 230px;
    height: 250px;
    position: relative;
    border-right: 1px solid lightgray;
    float: left;

    background: #fff;


}
#rece_right{
    width: 18px;
    height: 250px;
    position:relative;
    float: right;

}
#scrool{
    position: absolute;
    top:0px;

    left:0px;
    width: 20px;
    height: 80px;
    border-radius:  10px;
    cursor: pointer;
    background-color: red;
}
#rece_left li{
    font-size: 20px;
    color: gray;

}
#mask{
    width: 380px;
    height: 550px;
    position: absolute;
    top: 134px;
    left: 485px;

    /*background: #000;*/
    opacity: 0.15;
    display: none;
    background-color: red;
}
.fixx{

    width: 40px;
    height: 166px;
    display: inline-block;
    background-color: red;
    /*background: url("../loginImages/icons_feedback.png") -40px 0 no-repeat;*/

}
#rem{
    height:20px;
    margin-top: 10px;
    color:gray ;
}
#rem input{
    margin-right:10px;
}
#img1{
    background:url("../loginImages/icon-otherlogin_s.png") no-repeat;
    height: 38px;
    width: 38px;
    display: inline-block;
    margin-right: 30px;
    opacity: 0.5;
}
#choose{
    padding-left: 30px;
    margin-top: 20px;

}
#img2{
    background:url("../loginImages/icon-otherlogin_s.png") -40px 0px no-repeat;
    height: 38px;
    width: 38px;
    display: inline-block;
    margin-right: 30px;
    opacity: 0.5;
}
#img3{
    background:url("../loginImages/icon-otherlogin_s.png") -80px 0 no-repeat;
    height: 38px;
    display: inline-block;
    width: 38px;
    margin-right: 30px;
    opacity: 0.5;
}
#img4{
    background:url("../loginImages/icon-otherlogin_s.png") -120px 0 no-repeat;
    height: 38px;
    width: 38px;
    display: inline-block;
    margin-right: 30px;
    opacity: 0.5;
}
#feedback{
    /*width: 280px;*/
    height: 250px;
    position: absolute;
    right:0px;
    top:30%;
    display: none;

}
#feedback span{
    width: 40px;
    height: 166px;
    /*position: relative;*/
    display: inline-block;
    right: 280px;
    float: left;
    position: absolute;
    margin-right: 10px;
    background: url("../loginImages/icons_feedback.png") -40px 0 no-repeat;
}
#feed_top{
    width: 250px;
    height: 180px;
    padding:10px;
}
#feed{
    float: left;
    background-color:white;
    height: 250px;

    padding:10px;
    /*position: absolute;*/

}
#feed_bot em{
    display: block;
    margin-top: 10px;
    color: gray;
}
#feed_bot input{
    border: 1px solid #ccc;
    width: 250px;
    margin-top: 20px;
    height: 30px;
}
#layer{
    height: 700px;
    width: 1360px;
    background:url('../loginImages/wallhaven-56481.jpg');
    padding-top: 50px;
    position: relative;
    overflow: hidden;
}
#move li{
     float: left;
    height: 750px;
    display: inline-block;
    width: 1360px;

}
#layer ul{
    width: 6800px;
    position: absolute;
    left:0;
    top:0;

}